<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "teddy bear clicker!!![An App].mrloltvgames.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>[Teddy Bear Clicker!]</name>

    <description>
        Ann app made using Scratch, Phonegap, github, and PhoneGap - I made this for a friend!
    </description>

    <author href="http://scratch.mit.edu/users/mrloltvgames" email="jackdgamemaker@gmail.com">
        [MrLOLTvGames/JackD]
    </author>

</widget>
